<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Kodbook</title>
	   <link rel="stylesheet" href="styles.css">
	
</head>
<body>
		<h1>Kodbook</h1>
		<h3>#1 Social media app!</h3>
		<hr>
		
		<form action="/login" method="post">
				<label>USERNAME:</label>
				<input type="text" name="username">
				<br><br>
				
				<label>PASSWORD:</label>
				<input type="password" name="password">
				<br><br>
				
				<input type="submit" value="LOGIN">
				<hr>
				
				<a href="/openResetPassword">Forgot Password?</a>
				
				<a href="/openSignUp">Create new Account</a>
		</form>
</body>
</html>